<div class="container">
    <div class="row">
        <h1>Projects done</h1>
        <div class="projects">
            <div class="col-sm-12 col-md-7 col-lg-7 part1">
                <h2>Project 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo id, ut, quod, nesciunt quidem et deserunt vel inventore odit assumenda iste cupiditate veritatis nostrum nihil. Earum veniam maxime tempore cupiditate?</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 part2">
                <img src="" class="img-fluid image">
            </div>
        </div>
    </div>
</div>