.row{
    background-color: #a1b5cb;
    padding: 20px;
}

.projects{
    width: auto;
}

.part1, .part2{
    display: inline-block;
    text-align: justify;
}

.image {
    box-shadow: 10px 10px 30px #000000;
}