<div class="container">
    <div class="row">

        <div class="col-lg-10"></div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-light" routerLink="/editAbout/3" *ngIf="isLogged">
                EditAbout
            </button>
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src={{user.img}} class="img-fluid" id="pfp">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="name">{{user.name}} {{user.lastName}}</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 about">
            <span>
                <h1>About me</h1>
                <p>{{user.about}}</p>
            </span>
        </div>
    </div>
</div>
