div {
    text-align: center;
}

p {
    margin-bottom: 0;
}

.aboutContainer {
    color: white;
    padding: 30px;
    background-color: #4b3e62;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /*box-shadow:  5px 5px 5px black;*/
    margin: auto;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;;
}

.about {
    position: relative;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center
}

.aboutme {
    word-break: break-word;
    max-width: 300px;
}

button {
    position: absolute;
    text-align: center;
    width: 3em;
    height: 3em;
    top: -1em;
    right: 1.5em;
}

.bi-pencil-square {
    font-size: 21.5px;
}

img {
    border-radius: 40%;
    border: 5px solid #252136;
}

@media (max-width: 1920px){
    .row{
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .aboutme {
        max-width: 500px;
    }

    img {
        height: 100%;
        margin-bottom: 100px;
    }

    button {
        right: -0.5em;
    }
}

@media (max-width: 1440px){
    .row{
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .aboutme {
        max-width: 375px;
    }

    img {
        height: 100%;
        margin-bottom: 75px;
    }

    button {
        top: -1.25em;
        right: 0em;
    }
}

@media (max-width: 1025px){
    .row{
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .aboutme {
        max-width: 300px;
    }

    img {
        height: 100%;
        margin-bottom: 50px;
    }

    button {
        top: -1.25em;
        right: 0em;
    }
}

@media (max-width:769px) {
    .row{
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .aboutme {
        max-width: 250px;
    }

    img {
        height: 100%;
        margin-bottom: 25px;
    }

    button {
        right: -0.5em;
    }
}

@media (max-width:426px) {
    .row{
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .aboutme {
        max-width: 300px;
    }

    .imgContainer {
        padding-bottom: 1.25em;
    }

    img {
        height: 100%;
        margin-bottom: 50px;
    }

    button {
        top: -14.75em;
        right: -1em;
    }
}

@media (max-width:400px) {
    .row{
        padding-top: 2em;
        padding-bottom: 1em;
    }

    img {
        height: 100%;
        margin-bottom: 50px;
    }

    button {
        top: -15.25em;
        right: -1em;
    }
}

@media (max-width:374px) {
    .row{
        padding-top: 2em;
        padding-bottom: 1em;
    }
    img {
        height: 100%;
        margin-bottom: 50px;
    }

    button {
        right: -1em;
    }
}