<div class="container">
    <div class="row">
        <div class="part1">
            <div class="logo">
                <img src="../../../assets/header/APLogo.png">
            </div>
            <div class="social">
                <a href=""><img src="../../../assets/header/github.png"></a>
                <a href="https://www.instagram.com/axel.gallo1"><img src="../../../assets/header/instagram.png"></a>
                <a href=""><img src="../../../assets/header/twitter.png"></a>
                <a href=""><img src="../../../assets/header/facebook.png"></a>
                <a href=""><img src="../../../assets/header/linkedin.png"></a>
                <!--login--><button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">LOGIN</button>
                <!--logout--><button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">LOGOUT</button>
            </div>
        </div>
        <div class="part2">
            <div class="banner">
                <img src="../../../assets/header/banner.jpg">
            </div>
        </div>
    </div>
</div>