<div class="container-fluid">
    <div class="row">
        <div class="title">
            <h1>Studies</h1>
        </div>
        <div class="studies">
            <div class="col-lg-12 newStudy">
                <button type="button" class="btn btn-light" routerLink="/newStudy" *ngIf="isAdmin">
                    Add Study
                </button>
            </div>
            <div class="studiesContainer">
                <div class="studiesContent" *ngFor="let Studies of studies">
                    <div class="col-sm-12 col-md-12 col-lg-12 studyImg">
                        <img src={{Studies.studyImg}} alt=`{{Studies.studyName}}`>
                    </div>
                <br>
                    <div class="col-sm-12 col-md-12 col-lg-12 studyName">
                        <h3>{{Studies.studyName}}</h3>
                    <br>
                        <h6>{{Studies.studyDate}}</h6>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 studyInfo">
                        <p>{{Studies.studyInfo}}</p>
                    </div>
                    <div class="col-sm-12 col-md-1 col-lg-1 editDeleteButtons" *ngIf="isAdmin">
                        <button class="btn btn-light" routerLink="/editStudy/{{Studies.id}}"><i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-danger" (click)="deleteStudy(Studies.id)"><i class="bi bi-trash3"></i></button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>