h1 {
    display: inline-block;
    background-color: #4b3e62;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    /*box-shadow:  5px 5px 5px black;*/
}

h2 {
    display: inline;
}

h3 {
    margin-bottom: 0px;
}

h6 {
    margin-bottom: 20px;
}

.title {
    padding: 0;
    margin: auto;
    max-width: 95%;
    margin-top: 20px;
}

.newStudy {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.studiesContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.studies {
    padding: 30px;
    background-color: #4b3e62;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    /*box-shadow:  5px 5px 5px black;*/
    margin: auto;
    max-width: 95%;
}

.studiesContent {
    background-color: #a3a1cb;
    margin: 2.35em;
    padding: 2em;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    max-width: 322.3px;
}

.studyName {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.studyInfo {
    word-break: break-word;
    max-width: 475px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

img {
    background-color: black;
}

.editDeleteButtons {
    height: 3em;
    width: 3em;
    margin: 0.5em;
    display: flex;
    align-items: center;
}

.editDeleteButtons .btn-light {
    margin-right: 15px;
}

.bi-pencil-square {
    font-size: 21.5px;
}

.bi-trash3 {
    font-size: 21.5px;
}

@media (max-width: 1920px) {
    .studiesContent {
        max-width: 425px;
    } 
}

@media (max-width: 1024px) {
    .title{
        max-width: 96.5%;
    }

    .studies {
        padding: 0px;
        max-width: 96.5%;
    }

    .studiesContainer {
        align-items: center;
        flex-wrap: wrap;
    }

    .studiesContent {
        max-width: 354.07px;
    } 
}

@media (max-width: 768px) {
    .title{
        max-width: 96.5%;
    }

    .studies {
        padding: 0px;
        max-width: 96.5%;
    }

    .studiesContainer {
        align-items: center;
        flex-wrap: wrap;
    }

    .studiesContent {
        max-width: 310px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 0;
        margin-right: 0;
    }

    .studyImg {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    .newStudy {
        margin-top: 1em;
    }

    .title{
        max-width: 98%;
    }

    .studies {
        padding: 20px;
        max-width: 98%;
    }

    .studiesContent {
        max-width: 350px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 375px) {
    .studiesContent {
        padding: 1.25em;
    }
}

@media (max-width: 320px) {
    img {
        width: 90%;
        margin-left: 10px;
        margin-top: 15px;
    }
}