<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="skill">Skill</label>
                    <input type="text" class="form-control" id="skill" name="skill" [(ngModel)]="skill" required>
                </div>
                <div class="form-group">
                    <label for="percentage">Percentage</label>
                    <input type="text" class="form-control" id="percentage" name="percentage" [(ngModel)]="percentage" required>
                </div>
                <button class="btn btn-primary">
                    AddNewSkill
                </button>
            </form>
        </div>
    </div>
</div>