<div class="container">
    <div class="row">
        <h1>Hard and Soft Skills</h1>
        <!--html--><div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showImage]="true"
                [imageSrc]="'../assets/skills/html.png'"
                [imageHeight]="70"
                [imageWidth]="70"
            ></circle-progress>
        </div>
        <!--css--><div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showImage]="true"
                [imageSrc]="'../assets/skills/css.png'"
                [imageHeight]="70"
                [imageWidth]="70"
            ></circle-progress>
        </div>
        <!--js--><div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showImage]="true"
                [imageSrc]="'../assets/skills/js.png'"
                [imageHeight]="70"
                [imageWidth]="70"
            ></circle-progress>
        </div>
        <!--github--><div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showImage]="true"
                [imageSrc]="'../assets/skills/github.png'"
                [imageHeight]="70"
                [imageWidth]="70"
            ></circle-progress>
        </div>
        <!--english--><div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showImage]="true"
                [imageSrc]="'../assets/skills/english.png'"
                [imageHeight]="70"
                [imageWidth]="70"
            ></circle-progress>
        </div>
        <!--team--><div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showImage]="true"
                [imageSrc]="'../assets/skills/team.png'"
                [imageHeight]="70"
                [imageWidth]="70"
            ></circle-progress>
        </div>
    </div>
</div>
