<div class="container">
    <div class="row">
        <h1>Skills</h1>

        <div class="col-lg-2">
            <button type="button" routerLink="/newSkill" class="btn btn-light" *ngIf="isLogged">
                NewSkill
            </button>
        </div>
    
        <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let Skills of skills">
            <circle-progress 
            [percent]="(Skills.percentage)"
            [radius]="90"
            [imageSrc]="''"
            [title]="(Skills.skill)"
            [titleColor]="'#212F3C'"
            [showTitle]="true" 
            [showImage]="false" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false"
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2" 
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="600">
            </circle-progress>
    
            <div>
                <td *ngIf="isLogged">
                    <button class="btn btn-light" routerLink="/editSkill/{{Skills.id}}">
                        <i class="bi bi-pencil-fill"></i></button>
                </td>
                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="deleteSkill(Skills.id)">
                        <i class="bi bi-trash-fill"></i></button>
                </td>
            </div>
        </div>
    </div>
</div>
