<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/about/pfp.jpg" class="img-fluid" id="pfp">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="name">{{user.name}} {{user.lastName}}</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>About me</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut rerum deserunt autem, impedit, veniam at reprehenderit laudantium asperiores, dicta commodi adipisci odit? Quam blanditiis quas praesentium quo dolor cum corrupti?</p>
            </span>
        </div>
    </div>
</div>
