<div class="container">
    <div class="row">
        <h1>Studies</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Study 1</h1> - <h3>years</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus blanditiis eligendi optio. Molestiae distinctio dolorem fugiat eaque architecto consequatur vero, officia eos ratione accusantium fuga provident ad. Saepe, quos eligendi!</p>
                </li>
                <li>
                    <h1>Study 2</h1> - <h3>years</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus blanditiis eligendi optio. Molestiae distinctio dolorem fugiat eaque architecto consequatur vero, officia eos ratione accusantium fuga provident ad. Saepe, quos eligendi!</p>
                </li>
                <li>
                    <h1>Study 3</h1> - <h3>years</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus blanditiis eligendi optio. Molestiae distinctio dolorem fugiat eaque architecto consequatur vero, officia eos ratione accusantium fuga provident ad. Saepe, quos eligendi!</p>
                </li>
            </ul>
        </div>
    </div>
</div>