<div class="container-fluid">
    <div class="row">      
        <div class="title">
            <h1>New Skill</h1>
        </div>
        <div class="skills">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="skill"><b>Skill Name</b></label>
                    <input type="text" class="form-control" id="skill" name="skill" [(ngModel)]="skill" required>
                </div>
                <div class="form-group">
                    <label for="percentage"><b>Skill Percentage</b></label>
                    <input type="number" class="form-control" id="percentage" name="percentage" [(ngModel)]="percentage" required>
                </div>
                <div class="form-group">
                    <label for="skillImg"><b>Skill Image</b></label>
                    <input type="file" class="form-control" id="skillImg" name="skillImg" (ngModel)="skillImg" (change)="uploadImage($event)" accept=".png, .jpg, .jpeg">
                </div>
            <br>
                <div>
                    <img [src]="skillsImageService.url" width="200px" alt="Skill Image" *ngIf='skillsImageService.url != ""'>
                </div>
            <br>
                <div>
                    <button class="btn btn-light">Add</button>
                    <button class="btn btn-danger" routerLink="">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>